@model RecApp_2.Models.IndexViewModel
@{
    ViewBag.Title = "Gestionar datos de mi cuenta";
}

<div class="container col-md-12 center-block">
    <div class="panel panel-primary">
        <div class='panel-heading'>
            <h4>Gestionar mi cuenta</h4>
        </div>
        <div class='panel-body'>
            <p class="text-success">@ViewBag.StatusMessage</p>
            <div class="col-md-12">
                <div class="col-md-3">
                    <label>Cambiar contraseña</label>
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Cambiar", "ChangePassword", null, new { @class = "btn btn-primary glyphicon glyphicon-edit" })
                    }
                    else
                    {
                        @Html.ActionLink("Crear", "SetPassword", null, new { @class = "btn btn-primary glyphicon glyphicon-edit" })

                    }
                </div>              
            </div>        
        </div>
    </div>
    <a href="@Url.Action("Index","Home")" class="btn btn-primary"> <h5>Volver al inicio</h5></a>
</div>