@{
    ViewBag.Title = "Especialidades Odontológicas | Acerca de";
}


<div class="container col-md-12 center-block">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2>Acerca de</h2>

        </div>
        <div class="panel-body">
            <div class="container">
                <p>
                    El sistema RecApp está diseñado para facilitar el control y la productividad de sus expedientes y citas mediante la unificación
                    de procesos, de forma eficiente y eficaz.<br /> Se reservan todos los derechos de autor sobre este software, prohibida su distribución parcial o completa sin los permisos de sus autores .
                </p>

            </div>

        </div>
    </div>
</div>

