@{
    ViewBag.Title = "Acerca de";
}


<div class="container col-md-12 center-block">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2>Acerca de</h2>
        </div>
        <div class="panel-body">
            <p>RecApp todos los derechos reservados 2016© .</p>
        </div>
    </div>
</div>