@{
    ViewBag.Title = "Especialidades Odontológicas | Contacto";
}


<div class="container col-md-12 center-block">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2>Información de Contacto</h2>
        </div>
        <div class="panel-body">
            <h2>@ViewBag.Title.</h2>
            <h3>@ViewBag.Message</h3>

            <address>
                Alajuela, Costa Rica<br />
                <br />
                <abbr title="Teléfonos de contacto">P: </abbr>
                +506 8968-0102 / +506 8878 8925
            </address>

            <address>
                <strong>Soporte:</strong>   <a href="mailto:gjimenez.com@gmail.com">gjimenez.com@gmail.com</a><br />
                <strong>Soporte:</strong>   <a href="mailto:asansola@gmail.com">asansola@gmail.com</a><br />

            </address>
        </div>
    </div>
</div>