@{
    ViewBag.Title = "Confirmación de contraseña olvidada";
}


<div class="container col-md-12 center-block">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2>Olvidó su contraseña</h2>
        </div>
        <div class="panel-body">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <div>
                <p>
                    Compruebe el correo electrónico para restablecer la contraseña.
                </p>
            </div>

        </div>
    </div>
</div>