
@{
    ViewBag.Title = "Odontogram";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Untitled</title>

</head>
<html>
<body>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Panel Heading</h3>
        </div>
        <div class="panel-body">
            <span>Panel Body</span>

            <fieldset>
                <legend>Odontograma </legend>
            </fieldset>
            <div class="col-md-12 col-md-offset-0 text-center">
                <button class="btn diente" type="button">Button</button>
                <button class="btn diente" type="button">Button</button>
                <button class="btn diente" type="button">Button</button>
                <button class="btn diente" type="button">Button</button>
                <button class="btn diente" type="button">Button</button>
                <button class="btn diente" type="button">Button</button>
                <button class="btn diente" type="button">Button</button>
                <button class="btn diente" type="button">Button</button>
                <button class="btn diente" type="button">Button</button>
                <button class="btn diente" type="button">Button</button>
                <button class="btn diente" type="button">Button</button>
                <button class="btn diente" type="button">Button</button>
                <button class="btn diente" type="button">Button</button>
                <button class="btn diente" type="button">Button</button>
            </div>
            <div class="col-md-12 col-md-offset-0 text-center">
                <div class="clearfix"></div>
                <button class="btn diente_nino" type="button">Button</button>
                <button class="btn diente_nino" type="button">Button</button>
                <button class="btn diente_nino" type="button">Button</button>
                <button class="btn diente_nino" type="button">Button</button>
                <button class="btn diente_nino" type="button">Button</button>
                <button class="btn diente_nino" type="button">Button</button>
                <button class="btn diente_nino" type="button">Button</button>
                <button class="btn diente_nino" type="button">Button</button>
                <button class="btn diente_nino" type="button">Button</button>
                <button class="btn diente_nino" type="button">Button</button>
                <button class="btn diente_nino" type="button">Button</button>
                <button class="btn diente_nino" type="button">Button</button>
                <button class="btn diente_nino" type="button">Button</button>
                <button class="btn diente_nino" type="button">Button</button>
            </div>
            <div class="col-md-12 col-md-offset-0 text-center">
                <button class="btn diente_nino" type="button">Button</button>
                <button class="btn diente_nino" type="button">Button</button>
                <button class="btn diente_nino" type="button">Button</button>
                <button class="btn diente_nino" type="button">Button</button>
                <button class="btn diente_nino" type="button">Button</button>
                <button class="btn diente_nino" type="button">Button</button>
                <button class="btn diente_nino" type="button">Button</button>
                <button class="btn diente_nino" type="button">Button</button>
                <button class="btn diente_nino" type="button">Button</button>
                <button class="btn diente_nino" type="button">Button</button>
                <button class="btn diente_nino" type="button">Button</button>
                <button class="btn diente_nino" type="button">Button</button>
                <button class="btn diente_nino" type="button">Button</button>
                <button class="btn diente_nino" type="button">Button</button>
            </div>
            <div class="col-md-12 col-md-offset-0 text-center">
                <button class="btn diente" type="button">Button</button>
                <button class="btn diente" type="button">Button</button>
                <button class="btn diente" type="button">Button</button>
                <button class="btn diente" type="button">Button</button>
                <button class="btn diente" type="button">Button</button>
                <button class="btn diente" type="button">Button</button>
                <button class="btn diente" type="button">Button</button>
                <button class="btn diente" type="button">Button</button>
                <button class="btn diente" type="button">Button</button>
                <button class="btn diente" type="button">Button</button>
                <button class="btn diente" type="button">Button</button>
                <button class="btn diente" type="button">Button</button>
                <button class="btn diente" type="button">Button</button>
                <button class="btn diente" type="button">Button</button>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>



</body>
</html>
